<html>
<head>
</head>
<body>
<p><%= @user.name %>,</p>

<p>Thanks for signing up!</p> 

<p>We are preparing for our first meeting and are looking for people to spread the word. Recruit you friends!</p>

<p>Join our <a href="https://www.facebook.com/groups/152108291594940/">Facebook Group</a> for the latest updates and conversation.</p> 

<p>Also, Check out our <a href="http://www.reddit.com/r/StartupMatchup/">subreddit</a> !</p>

<p>See you soon,</p>

<p>The Startup Matchup Team</p>
</body>
</html>
 