<!--
<%= link_to	"Signup with Facebook", "/auth/facebook", id: "sign_in"%>
 <% for user in @users %>
    <ul>
	<li><img src= <%= user.image %>></li>
	<li><%= user.name %></li>
	</ul>
<% end %> 
-->


