// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: $verdana;
	background: #ffffff url('/assets/bg.jpg') repeat;
}

.container {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}