<!DOCTYPE html>
<html>
<head>
  <title>StartupMatchup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header id="main_head">
		</header>	

<%= yield %>
	</div>
</body>
</html>
