<!DOCTYPE html>
<html>
<head>
  <title>Startup Matchup - Learn Programming, Build Cool Stuff</title>
  <meta name="description" content="Technology group at the University of Rhode Island"/>
  <meta name="keywords" content="programming, URI, RI, Startup, Matchup, development, code, learn"/>
  <link rel="shortcut icon" href="favicon.ico" />	
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top_bar">
	</div>	
	<div id="header">
		<div id="nav_wrapper">
			<div id="navigation">
				<div id="logo">
					<button id="logo_link">
						<img src="/assets/logo.png"/>
					</button>	
				</div>		
				<div class="nav">
					<ul>
						<li id="nav_about">
							<button id="about_link" >About</button>
						</li> 	
						<li id="nav_signup">
							<button id="signup_link" href="#">Signup</button>
						</li>
						<li id="nav_cal">
							<button id="cal_link" href="#">Dates</button>
						</li>
						<li id="nav_contact">
							<button id="contact_link" href="#">Contact</button>
						</li>
					</ul>	
				</div>
			</div>			
		</div>	
	</div>
	<div id="container_wrapper">			
<%= yield %>
	</div>

</body>
</html>
